<div>
  <table>
    <tr>
      <th>Mã cổ phiếu</th>
      <th>Giá cổ phiếu</th>
    </tr>

    <tr id={"kfi_#{item[:name]}"} :for={item <- @datalist} phx-hook="StockUpdate">
      <td>
          <%= item[:name] %>
      </td>
      <td>
          <%= item[:value] %>
      </td>
    </tr>
  </table>
</div>